<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="price">
                <field id="decimal_delimiter" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Decimal Delimiter</label>
                    <comment>Enter the character to use as decimal delimiter (e.g., "." or ",")</comment>
                    <config_path>catalog/price/decimal_delimiter</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
