<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="PeakGearCustomerTerms"
                type="PeakGear\Customer\Plugin\CreatePostPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="PeakGearCustomerPhoneLogin"
                type="PeakGear\Customer\Plugin\LoginPostPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Model\CustomerExtractor">
        <plugin name="PeakGearCustomerTelephoneExtractor"
                type="PeakGear\Customer\Plugin\CustomerExtractorPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Api\AddressRepositoryInterface">
        <plugin name="peakgear_customer_address_phone_validation"
                type="PeakGear\Customer\Plugin\AddressRepositoryPhoneValidationPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="peakgear_checkout_shipping_phone_validation"
                type="PeakGear\Customer\Plugin\CheckoutAddressPhoneValidationPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="peakgear_checkout_billing_phone_validation"
                type="PeakGear\Customer\Plugin\CheckoutAddressPhoneValidationPlugin"
                sortOrder="10"/>
    </type>
    <type name="Mageplaza\SocialLogin\Model\Social">
        <plugin name="PeakGearCustomerSocialLoginProvider"
                type="PeakGear\Customer\Plugin\SocialLogin\SocialPlugin"
                sortOrder="10"/>
    </type>
    <type name="Mageplaza\SocialLogin\Helper\Data">
        <plugin name="PeakGearCustomerSocialLoginData"
                type="PeakGear\Customer\Plugin\SocialLogin\DataPlugin"
                sortOrder="10"/>
    </type>
    <type name="Mageplaza\SocialLogin\Helper\Social">
        <plugin name="PeakGearCustomerSocialLoginHelper"
                type="PeakGear\Customer\Plugin\SocialLogin\SocialHelperPlugin"
                sortOrder="10"/>
    </type>
</config>
