<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Captcha\Helper\Data">
        <plugin name="peakgear_disable_customer_login_captcha"
                type="PeakGear\Customer\Plugin\CaptchaConfigPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Controller\Ajax\Login">
        <plugin name="peakgear_customer_phone_ajax_login"
                type="PeakGear\Customer\Plugin\AjaxLoginPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Controller\Account\Logout">
        <plugin name="peakgear_customer_logout_home_redirect"
                type="PeakGear\Customer\Plugin\LogoutRedirectPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="peakgear_guest_guard_checkout_index"
                type="PeakGear\Customer\Plugin\GuestProtectedActionPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Wishlist\Controller\Index\Add">
        <plugin name="peakgear_guest_guard_wishlist_add"
                type="PeakGear\Customer\Plugin\GuestProtectedActionPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Wishlist\Controller\Index\Remove">
        <plugin name="peakgear_guest_guard_wishlist_remove"
                type="PeakGear\Customer\Plugin\GuestProtectedActionPlugin"
                sortOrder="10"/>
    </type>
</config>
