<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="peakgear_contact_widget"
                 translate="label"
                 type="text"
                 sortOrder="960"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>PeakGear Contact Widget</label>
            <tab>general</tab>
            <resource>PeakGear_ContactWidget::config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Widget Settings</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Widget</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="phone_enabled"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Phone Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="phone_number"
                       translate="label comment"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Phone Number</label>
                    <comment>Shown in the widget and used for the tel: link.</comment>
                    <depends>
                        <field id="*/general/enabled">1</field>
                        <field id="*/general/phone_enabled">1</field>
                    </depends>
                </field>
                <field id="zalo_enabled"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Zalo Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="zalo_url"
                       translate="label comment"
                       type="text"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Zalo URL</label>
                    <comment>Example: https://zalo.me/your-oa-or-chat-link</comment>
                    <depends>
                        <field id="*/general/enabled">1</field>
                        <field id="*/general/zalo_enabled">1</field>
                    </depends>
                </field>
                <field id="contact_enabled"
                       translate="label"
                       type="select"
                       sortOrder="60"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Contact Page Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="collapsed_by_default"
                       translate="label"
                       type="select"
                       sortOrder="70"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Collapsed By Default</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="show_on_mobile"
                       translate="label"
                       type="select"
                       sortOrder="80"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show On Mobile</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="show_on_desktop"
                       translate="label"
                       type="select"
                       sortOrder="90"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show On Desktop</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="bottom_offset"
                       translate="label comment"
                       type="text"
                       sortOrder="100"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Bottom Offset (px)</label>
                    <comment>Desktop base offset. Mobile automatically adds extra safe spacing.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="right_offset"
                       translate="label"
                       type="text"
                       sortOrder="110"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Right Offset (px)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
