<!--
/**
 * PeakGear renderer: address card only, no inline buttons.
 */
-->
<div class="shipping-address-item"
    visible="!$parent.isAddressHidden(address())"
     css="{
        'selected-item': isSelected(),
        'not-selected-item': !isSelected(),
    'pg-action-target': $parent.isActionAddress(address()),
    'pg-address-deleted': $parent.isDeletedAddress(address())
     }"
     click="function () { $parent.setActionAddress(address()) }">
    <text args="address().prefix"></text>
    <text args="address().firstname"></text>
    <text args="address().middlename"></text>
    <text args="address().lastname"></text>
    <text args="address().suffix"></text><br>

    <if args="address().company">
        <text args="address().company"></text><br>
    </if>

    <text args="_.values(_.compact(address().street)).join(', ')"></text><br>
    <text args="address().city"></text> <text args="address().postcode"></text><br>
    <span>Việt Nam</span><br>

    <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a><br>

    <if args="address().vatId">
        VAT: <text args="address().vatId"></text><br>
    </if>

    <each args="data: address().customAttributes, as: 'element'">
        <text args="$parent.getCustomAttributeLabel(element)"></text><br>
    </each>
</div>
